.navbar {
  width: 100%;
  padding: 0.5em;
  background-image: url("../assets//mobile//bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 60px;
  @include med {
    background-image: url("../assets/tablet/bg-pattern-header.svg");
    padding: 2em;
    border-bottom-left-radius: 100px;
  }
  @include lg {
    background-image: url("../assets//desktop/bg-pattern-header.svg");
    padding: 3em;
  }

  .nav-content {
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
}

//The switch - the box around the slider
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: #2196f3;
      &::before {
        transform: translateX(26px);
      }
    }
    &:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    &::before {
      content: "";
      position: absolute;
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: #fff;
      transition: 0.4s;
    }
  }
  .round {
    border-radius: 34px;
    &::before {
      border-radius: 50%;
    }
  }
}
